@import "tailwindcss";

:root {
 --primary: #FF5F3F;
 --primary-light: #F4EBEB;
 --dark: #111111;
 --dark-alternate: #1B1918;
}

@theme inline {
  --color-dark: var(--dark);
  --color-dark-alternate: var(--dark-alternate);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --font-poppins: var(--font-poppins);
}

html {
  overflow-x: hidden;
  box-sizing: border-box;
}

/* * {
  border: 2px solid red;
} */

* {
  @apply font-poppins
}


/* Input-Group */
.input-group {
  @apply mb-1
}

.input-group label {
  @apply block text-sm mb-1
}

.input-group input,
.input-group textarea {
  @apply px-4 py-2.5  bg-gray-100 rounded-md w-full outline-none focus:border focus:border-gray-300 mb-6 text-sm
}

/* Input  Group Admin */
.input-group-admin {
  @apply mb-0
}

.input-group-admin label {
  @apply block text-lg font-medium mb-2
}

.input-group-admin input,
.input-group-admin select,
.input-group-admin textarea {
  @apply px-4 py-2 border border-gray-300 rounded-sm w-full outline-none focus:border focus:border-gray-500 mb-3 text-lg
}

.input-group-admin input::placeholder {
  @apply opacity-50
}